.settings {
  position: absolute;
  bottom: 25px;
  right: 0;
  height: 40vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-y: scroll;
  background-color: white;
  padding: 10px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  border-radius: var(--border-radius);
  cursor: auto !important;

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }

  li {
    h5 {
      margin-bottom: 5px;
    }
  }
}
