.timestamp {
  position: absolute;
  bottom: 65px;
  max-height: 60vh;
  min-height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
  background-color: var(--background);
  color: var(--color);
  padding: 15px;
  visibility: visible;
  opacity: 1;
  border-radius: var(--border-radius);
  cursor: auto !important;
  margin-left: 10px;
  transform: translateX(0px);
  transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;

  &__hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10px);
  }
}
