.timestamp {
  position: absolute;
  bottom: 65px;
  max-height: 60vh;
  min-height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
  background-color: var(--main-gray);
  color: white;
  padding: 10px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  border-radius: var(--border-radius);
  cursor: auto !important;

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }
}
