.timestamps {
  overflow-y: scroll;
  max-height: 100%;

  .content {
    margin-bottom: 10px;

    .timestamp__item {
      font-size: 14px;
      // position: relative;
      border-radius: var(--border-radius);
      padding: 0 2px;
      transition: background-color 0.2s ease, color 0.2s ease;
      user-select: none;

      &:hover {
        background-color: var(--main-red);
        cursor: pointer;
      }

      &__current {
        background-color: var(--main-red);
      }

      .item__controls {
        position: absolute;
        top: 0;
        transform: translateX(calc(400px - 5px));
        min-width: 400px;
        background: var(--main-gray);
        padding: 10px;
        border-radius: var(--border-radius);
        box-shadow: 0 0 5px 0px #00000085;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease, opacity 0.3s ease;
        z-index: 2;

        &__visible {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

h4 {
  text-align: center;
  padding: 20px 0;
}
