.search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  form {
    display: flex;
    align-items: center;

    button {
      display: none;
    }
  }

  .filter {
    display: flex;
    column-gap: 20px;
  }
}

.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px 0;
}
