:root {
  --gray-1: rgb(245, 245, 245);
  --gray-2: rgb(238, 238, 238);
  --gray-3: rgb(224, 224, 224);
  --gray-4: rgb(189, 189, 189);
  --gray-5: rgb(158, 158, 158);
  --gray-6: rgb(117, 117, 117);
  --gray-7: rgb(97, 97, 97);
  --gray-8: rgb(66, 66, 66);
  --gray-9: rgb(33, 33, 33);

  --red-1: rgb(255, 205, 210);
  --red-2: rgb(239, 154, 154);
  --red-3: rgb(229, 115, 115);
  --red-4: rgb(239, 83, 80);
  --red-5: rgb(244, 67, 54);
  --red-6: rgb(229, 57, 53);
  --red-7: rgb(211, 47, 47);
  --red-8: rgb(198, 40, 40);
  --red-9: rgb(183, 28, 28);

  --border-radius: 2.5px;
}

body {
  --background: var(--gray-1);
  --background-light: var(--gray-3);
  --border: var(--gray-6);
  --color: var(--gray-8);
  --color-light: var(--gray-5);

  &.dark {
    --background: var(--gray-9);
    --background-light: var(--gray-8);
    --border: var(--gray-4);
    --color: var(--gray-2);
    --color-light: var(--gray-6);
  }
}

// Material UI
// let data = [];
// let mainName = "";
// $0.querySelectorAll("div").forEach((e, index) => {
//   const nameTitle = e.querySelector("span:first-child").textContent;
//   const color = e.style.backgroundColor;
//   if (index === 0) {
//     const test = nameTitle.trim().split(" ");
//     mainName = test[0].toLowerCase();
//     data.push(`--${test[0].toLowerCase()}-${test[1]}: ${color};`);
//     return;
//   }
//   data.push(`--${mainName}-${nameTitle}: ${color};`);
// });
// copy(data.join(""));
