.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  column-gap: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;

  &__visible {
    visibility: visible;
    opacity: 1;
  }

  .progress {
    margin: 0 10px;
  }

  .content {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: white;
      opacity: 0.8;
      transition: opacity 0.3s ease;
      font-size: 30px;
      margin: 8px;

      &:hover {
        opacity: 1;
      }

      svg {
        cursor: pointer;
      }

      &.content__time {
        width: fit-content;
        margin-bottom: 8px;
        font-size: 14px;

        span {
          margin: 0 3px;
        }
      }

      &.settings {
        margin-left: auto;

        svg {
          font-size: 0.8em;
        }
      }
    }
  }
}
