.stamp {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px;
  row-gap: 10px;

  textarea {
    width: 100%;
    max-width: unset;
    min-width: unset;
    grid-row: 1/3;
  }

  input {
    text-align: center;
  }

  button {
    grid-column: 2/3;
  }
}
