.timestamp {
  position: absolute;
  bottom: 25px;
  max-height: 40vh;
  min-height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: white;
  padding: 10px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  border-radius: var(--border-radius);
  cursor: auto !important;

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }

  .timestamps {
    display: flex;
    flex-direction: column;

    li {
      padding: 10px 0;
      border-bottom: 1px solid var(--gray-9);

      &:last-child {
        border-bottom: none;
      }

      h3 {
        color: var(--gray-6);
      }
    }
  }

  h4 {
    text-align: center;
    padding: 20px 0;
  }

  .create {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .create_btn {
      width: 80%;
      text-align: center;
      justify-content: center;
      margin: auto;
      border-radius: 3px;
    }

    h5 {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}
