@mixin background-theme {
  &__empty {
    background: transparent;
    color: var(--gray-2);
    box-shadow: none;
  }

  &__primary {
    background: var(--blue-4);
    color: var(--gray-11);

    &:hover {
      background-color: var(--blue-3);
    }
  }

  &__secondary {
    background: var(--gray-4);

    &:hover {
      background-color: var(--gray-3);
    }
  }

  &__success {
    background: var(--green-4);
    color: var(--gray-3);

    &:hover {
      background-color: var(--green-3);
    }
  }

  &__danger {
    background: var(--red-4);
    color: white;

    &:hover {
      background-color: var(--red-3);
    }
  }

  &__warning {
    background: var(--yellow-4);
    color: var(--gray-3);

    &:hover {
      background-color: var(--yellow-3);
    }
  }

  &__info {
    background: var(--orange-4);
    color: var(--gray-11);

    &:hover {
      background-color: var(--orange-3);
    }
  }

  &__light {
    background: var(--gray-10);
    color: var(--gray-2);

    &:hover {
      background-color: var(--gray-2);
    }
  }

  &__dark {
    background-color: var(--gray-2);

    &:hover {
      background-color: var(--gray-1);
    }
  }
}
