.dropbox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--gray-2);
  background-color: var(--main-gray);
  color: white;
  transition: background-color var(--transition-time)
    var(--transition-animation);
  margin: 10px;
  border-radius: var(--border-radius);

  svg {
    margin-right: 10px;
  }
}
