@import "../../typography";

.dropdown {
  position: relative;
  width: fit-content;

  .posts__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 5px));
    background-color: var(--gray-11);
    border: 1px solid var(--gray-8);
    color: var(--gray-9);
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    max-height: 200px;
    overflow-y: auto;

    &__visible {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }

    .controls__item {
      padding: 6px;
      border-bottom: 1px solid var(--gray-8);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 70px;
      color: var(--gray-2);

      svg {
        margin-right: 5px;
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: none;
      }

      &:hover {
        background-color: var(--gray-10);
      }

      &__selected {
        background-color: var(--gray-9) !important;
      }

      &__sm {
        padding: 5px 10px;

        @include btn-small();
      }

      &__md {
        padding: 8px 12px;

        @include btn-medium();
      }

      &__lg {
        padding: 10px 15px;

        @include btn-large();
      }
    }
  }
}
