.dropbox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--gray-4);
  background-color: var(--gray-10);
  transition: background-color var(--transition-time)
    var(--transition-animation);
  margin: 10px;
  border-radius: var(--border-radius);

  svg {
    margin-right: 10px;
  }

  &:hover {
    background-color: var(--gray-9);
  }
}
