@import "../../typography";

.dropdown {
  position: relative;
  width: fit-content;
  column-gap: 0 !important;

  .main__button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .menu__button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .posts__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 5px));
    background-color: var(--main-gray);
    border: 1px solid var(--gray-8);
    border-radius: var(--border-radius);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    max-height: 150px;
    overflow-y: scroll;

    &__visible {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }

    .controls__item {
      padding: 6px;
      border-bottom: 1px solid var(--gray-8);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 70px;
      color: white;

      svg {
        margin-right: 5px;
      }

      &:first-child {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }

      &:last-child {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border-bottom: none;
      }

      &:hover {
        background-color: var(--main-red);
      }

      &__selected {
        background-color: var(--main-red) !important;
      }

      @include typography(14px, normal, 400, 16px, 0.02em, left);
    }
  }
}
