@import "../../variables";
@import "../../typography";

.container {
  border-radius: var(--border-radius);
  border: none;
  transition: background-color 0.3s ease;
  border: 1px solid var(--gray-6);

  &__invisible {
    background-color: none;
    border: none;
  }

  &__sm {
    padding: 5px 10px;

    @include btn-small();

    font-weight: 400;
  }

  &__md {
    padding: 8px 12px;

    @include btn-medium();

    font-weight: 500;
  }

  &__lg {
    padding: 10px 15px;

    @include btn-large();

    font-weight: 500;
  }
}
