.progress {
  height: 5px;
  width: 100%;
  display: block;

  &::-webkit-progress-bar {
    background-color: var(--background-light);
    border-radius: var(--border-radius);
  }

  &::-webkit-progress-value {
    background-color: var(--red-7);
    border-radius: var(--border-radius);
  }
}
