.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .container__tabs {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0;

    .tab {
      margin-right: 15px;
      font-size: 14px;
      padding: 0 3px 5px 3px;
      box-shadow: 0 2px transparent;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      color: var(--color-light);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s ease;

      svg {
        margin-right: 5px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.tab__selected {
        color: var(--color);
        box-shadow: 0 2px var(--color);
      }
    }
  }
}
